* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: aliceblue;
}
.main-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 10px;
  margin-left: 450px;
  border: 1px solid black;
  max-width: 320px;
  width: 100%;
  /* height: 500px;
  width: 400px; */
  background-color: #414141;
  border-radius: 10px;
  box-shadow: -3px 5px 3px 5px rgba(0, 0, 0, 0.5);
}
.input {
  padding-top: 10px;
}
#input {
  height: 80px;
  width: 300px;
  font-size: 35px;
  padding-right: 20px;
  background: transparent;
  border: none;
  outline: none;
  text-align: right;
  color: #fff;
}

#input::placeholder {
  color: #fff;
  font-size: 35px;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.7rem;
  padding-left: 15px;
  padding-bottom: 5px;
}

button {
  height: 55px;
  width: 70px;
  border: none;
  font-size: 20px;
  /* background-color: rgb(141, 141, 141); */
  background-color: #363037;
  color: #ffffff;
  border-radius: 10px;
}

#equal-btn {
  /* background-color: rgb(8, 136, 186); */
  background-color: #4cc2ff;
}
